@import "tailwindcss";
@import "tw-animate-css";

/*Scroll de los navbar*/
html {
  scroll-behavior: smooth;
}

/* ============================================================
   VARIABLES DEL PROYECTO (COLORES BASE)
   ============================================================ */
:root {
  --primary: #5ccbc0;
  --primary-foreground: #ffffff;

  --secondary: #c2dcda;
  --secondary-foreground: #2d3b3a;

  --border: #2f4a48;

  --background: #ffffff;
  --foreground: #2d3b3a;

  --muted: #f0f9f9;
  --muted-foreground: #5a6a69;

  --card: #ffffff;
  --card-foreground: #2d3b3a;
}

/* ============================================================
   MAPEO A TAILWIND (para usar bg-primary, text-primary, etc)
   ============================================================ */
@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

/* ============================================================
   ESTILOS BASE
   ============================================================ */
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
